@page
@model MyAutoService.Pages.Cars.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h3>آیا از حذف ماشین @Model.Car.Name مطمئن هستید؟ </h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Year)
        </dd>
        <dd>
            <img src="/CarImages/@Model.Car.ImageName" class="img-thumbnail" style="max-width: 200px"/>
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Car.Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-page="./Index">برگشت به لیست</a>
    </form>
</div>
